<!-- Navbar -->
<div class="row">
  <div class="col-6 but">
    <div class="bg-white p-4 rounded shadow-sm h-100 col">
      <a [routerLink]="['/form']" routerLinkActive="router-link-active">
        <button class="btn btn-primary btn-circle btn-circle-xl m-1">
          <i class="far fa-calendar-alt"></i>
        </button>
        Make Holiday Request
      </a>
    </div>
  </div>

  <div class="col-4 smallbut">
    <div class="bg-white p-2 rounded shadow-sm h-100">
      {{ employee_email }}
      <button class="btn btn-success btn-circle m-1"></button>
    </div>
  </div>
</div>
<div class="row">
  <h2>LOGS</h2>
</div>
<div class="tabl">
  <mat-form-field class="filterbox">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. email" />
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <!-- Name Column -->
    <ng-container matColumnDef="employee_email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let element">
        {{ element.requester_email }}
      </td>
    </ng-container>

    <!-- Start Date Column -->
    <ng-container matColumnDef="request_start_date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Start Date</th>
      <td mat-cell *matCellDef="let element">
        {{ element.request_start_date | date: "EEEE, d MMMM y" }}
      </td>
    </ng-container>

    <!-- Reporting Date Column -->
    <ng-container matColumnDef="request_report_date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Report Date</th>
      <td mat-cell *matCellDef="let element">
        {{ element.request_report_date | date: "EEEE, d MMMM y" }}
      </td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="req_status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="element.req_status == 'PENDING'">
          <mat-button-toggle-group
            class="centerAll"
            #singleGroup="matButtonToggleGroup"
          >
            <mat-button-toggle
              class="btnApprove"
              (click)="toApproveRequest(element.request_id)"
            >
              APPROVE
            </mat-button-toggle>
            <mat-button-toggle
              class="btnDecline"
              (click)="toDeclineRequest(element.request_id)"
            >
              DECLINE
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>

        <div
          *ngIf="
            element.req_status != 'PENDING' && element.req_status == 'APPROVE'
          "
        >
          <mat-button-toggle-group
            class="centerAll"
            #singleGroup="matButtonToggleGroup"
          >
            <mat-button-toggle class="btnApproved">
              APPROVED
            </mat-button-toggle>
            <mat-button-toggle class="btnDecline">
              DECLINE
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>

        <div
          *ngIf="
            element.req_status != 'PENDING' && element.req_status == 'DECLINE'
          "
        >
          <mat-button-toggle-group
            class="centerAll"
            #singleGroup="matButtonToggleGroup"
          >
            <mat-button-toggle class="btnApprove">
              APPROVE
            </mat-button-toggle>
            <mat-button-toggle class="btnDeclined">
              DECLINED
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
