<!-- Navbar -->
<div class="row">
  <div class="col-6 but">
    <div class="bg-white p-4 rounded shadow-sm h-100 col">
      <a [routerLink]="['/form']" routerLinkActive="router-link-active">
        <button class="btn btn-primary btn-circle btn-circle-xl m-1">
          <i class="far fa-calendar-alt"></i>
        </button>
        Make Request
      </a>
    </div>
  </div>

  <!-- <div class="col-4 smallbut">
    <div class="bg-white p-2 rounded shadow-sm h-100">
      {{ userName }}
      <button class="btn btn-success btn-circle m-1"></button>
    </div>
  </div> -->
</div>
<div class="row">
  <h2>LOGS</h2>
</div>
<div class="tabl">
  <mat-form-field class="filterbox">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. day" />
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element">
        {{ element.position }}
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="requester_name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">
        {{ element.requester_name }}
      </td>
    </ng-container>

    <!-- Start Date Column -->
    <ng-container matColumnDef="request_start_date">
      <th mat-header-cell *matHeaderCellDef>Start Date</th>
      <td mat-cell *matCellDef="let element">
        {{ element.request_start_date }}
      </td>
    </ng-container>

    <!-- Reporting Date Column -->
    <ng-container matColumnDef="request_report_date">
      <th mat-header-cell *matHeaderCellDef>Report Date</th>
      <td mat-cell *matCellDef="let element">
        {{ element.request_report_date }}
      </td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="req_status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="element.req_status == 'PENDING'; else notPending">
          <mat-button-toggle-group
            class="centerAll"
            [(ngModel)]="direction"
            #singleGroup="matButtonToggleGroup"
          >
            <mat-button-toggle class="btnApprove">
              APPROVE
            </mat-button-toggle>
            <mat-button-toggle class="btnDecline">
              DECLINE
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <div #notPending>
          <mat-button-toggle-group
            class="centerAll"
            [(ngModel)]="direction"
            #singleGroup="matButtonToggleGroup"
          >
            <div *ngIf="element.req_status == 'APPROVE'">
              <mat-button-toggle class="btnApproved">
                APPROVE
              </mat-button-toggle>
              <mat-button-toggle class="btnDecline">
                DECLINE
              </mat-button-toggle>
            </div>
            <div *ngIf="element.req_status == 'DECLINE'">
              <mat-button-toggle class="btnApprove">
                APPROVE
              </mat-button-toggle>
              <mat-button-toggle class="btnDeclined">
                DECLINE
              </mat-button-toggle>
            </div>
          </mat-button-toggle-group>
        </div>
        <!-- [ngClass] = "[btnColor(element.req_status)]" -->
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
